[Unit]
Description=1Password
After=graphical-session.target

[Service]
Type=simple
ExecStart=/opt/1Password/1password --silent
Restart=on-failure

[Install]
WantedBy=default.target
