[Unit]
Description=Autostart graphical session applications
After=graphical-session.target
BindsTo=graphical-session.target

[Install]
WantedBy=default.target
