[Unit]
Description=Unlock 1Password
After=1password.service

[Service]
Type=oneshot
ExecStart=/home/stevendejong/unlock

[Install]
WantedBy=autostart.target
